/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header and Hero Section */

/* Navigation Section */
header {
    background-color: #1f2937;
    padding: 0 128px;
}

nav ul {
    display: flex;
    gap: 16px;
}

nav ul li {
    list-style: none;
    text-align: center;
}

#logo {
    margin-right: auto;
    flex: 0 0 auto;
}

#logo a {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #e5e7eb;
    padding: 16px 0;
    font-size: 18px;
}


/* Hero Section */
.hero {
    display: flex;
    padding: 48px 0;
}

.hero-content {
    flex: 4 1 auto;

    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 40%;
}

.hero-content h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-content p {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
}

.hero-content button {
    flex: 0 0 auto;
    align-self: flex-start;
}

.hero-image {
    flex: 6 1 auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgrey;
}