:root {
    font-family: roboto, sans-serif;
}

header,
footer,
.content,
.quote, 
.call-to-action {
    padding: 0 250px;
}

header,
footer {
    background-color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

/* Header Nav Section */
nav,
nav > ul {
    display: flex;
}

nav {
    justify-content: space-between;

    padding: 16px 0;
}

nav > ul {
    align-items: center;
    gap: 16px;
    padding-left: 0;
}

nav > ul > li {
    list-style-type: none;
}

nav > ul > li > a {
    text-decoration: none;
}

.header-link-text,
.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

/* hero */
.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    gap: 50px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    line-height: 1.15;
}

.hero-main-content {
    flex: 1 1 400px;
}

.hero-image-content {
    flex: 1 1 500px
}

.btn {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 32px;
    font-weight: 600;
    border-radius: 10px;
}

.hero-secondary-text {
    margin: 8px 0;
}

/* Card container */
.content {
    margin-top: 32px;
    margin-bottom: 64px;
}

.content > h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 32px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-left: 0;
}

.card-container li {
    height: 250px;
    flex: 0 1 150px;
    list-style-type: none;
}

.card img {
    border: 2px solid #3882f6;
    border-radius: 10px;
    height: 150px;
}

.card > p {
    text-align: center;
}

/* Quote */
.quote {
    padding: 100px 350px;
}

.quote blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.quote p {
    font-size: 24px;
    color: #1f2937;
    font-weight: 600;
    text-align: right;
}